/* Base styles - aim for Mobile First */
body, h1, h2, h3, p, .nav-item, .skill-item, .project {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #172a41c6;
  color: white;
}

/* Search Bar */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.search-input, .search-btn {
  width: 90%;
  margin: 5px;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-item {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

/* Projects and Skills Sections */
.projects-main-div, .skills-section {
  padding: 20px;
}

.skill-item, .project {
  margin: 5px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
/* Tablets */
@media (min-width: 768px) {
  .search-bar, .nav-bar, .navbar-nav, .nav-item, .projects-main-div, .skills-section {
    flex-direction: row;
  }

  .search-input, .search-btn {
    width: auto; /* Adjust search bar for tablet */
  }

  .navbar-nav {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .nav-item {
    margin: 10px 20px;
  }

  .skills-section, .projects-main-div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skill-item, .project {
    width: 45%; /* Adjust the width for tablet display */
  }
}

/* Desktops and Laptops */
@media (min-width: 1024px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  .nav-item {
    margin: 0 10px;
  }

  .skill-item, .project {
    width: 30%; /* Adjust the width for desktop display */
  }

  .projects-main-div, .skills-section {
    padding: 40px;
  }

  /* Specific adjustments for larger displays */
  .search-bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
  }

  .search-input {
    width: 50%;
  }

  .search-btn {
    width: auto;
  }
}

/* Adjustments for very large screens, such as large monitors */
@media (min-width: 1440px) {
  .navbar-nav {
    width: 60%;
  }

  .skill-item, .project {
    width: 20%;
  }
}

/* Further optimizations can be added based on specific design requirements and content structure. Testing across different devices and adjusting as necessary is key to a responsive design. */
